h3{
    font-size: x-large;
    color: rgb(10, 163, 35);
    text-decoration: underline;
    text-align: right;
}
ul{
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: right;
}