h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style{
   color: rgb(56, 155, 56);
   text-align: center;
   list-style-type: georgian;
}